body {
    font-family: Liberation Sans, helvetica, arial, sans-serif; 
}

#logodiv, #whatis {
    float: left;
}

#whatis {
    font-weight: bold;
    margin: 5px;
}

#container {
    width: 1024px;
    clear: both;
}


#map {
	min-width: 1024px;
    width: 100%;
    height: 600px; 
    border: 1px solib black;
    margin: 10px;
    clear: both;
}


#loginform {
    margin:  5px;
}


#sidebar {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #e0e0e0; 
    font-size: 75%;
    position: fixed;
    border-radius: 10px;
}

#main {
    position: relative;
    margin-left: 200px;
}

a {
    text-decoration: none;
}

#sidebar a.login, input[type=button] {
    border-radius: 5px;
    background-color: #0080ff;
    color: white;
    text-decoration: none;
	margin: 5px;
}

#sidebar a.login {
    padding: 10px;
}

input[type=button] {
    padding: 5px;
}

.yes {
    color: green
}

.no { 
    color: red;
}

#search {
    margin: 10px;
}

#q {
    width: 200px;
}

#msg {
    background-color: yellow;
    color: black;
    font-weight: bold;
    margin: 5px;
    border: 1px solid black;
    font-size: 120%;
}

.important {
    background-color: yellow;
    color: black;
    font-weight: bold;
    margin: 5px;
    border: 1px solid black;
}

#permalinkDiv {
	float: right;
	font-size: 80%;
}

#needToZoom {
    border-radius: 5px;
    background-color: lightgray;
    color: black;
	font-weight: bold;
	padding: 5px;
}

.selected {
	border: 2px solid red;
}
