<!DOCTYPE html>
<html>
<head>
<title>Map The Paths</title>
<link rel='stylesheet' type='text/css' href='css/style.css' />
<link rel='stylesheet' type='text/css' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' />
<script type='text/javascript' src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
<script type='text/javascript' src='jslib-extern/Proj4Leaflet/lib/proj4.js'></script>
<script type='text/javascript' src='jslib-extern/Proj4Leaflet/src/proj4leaflet.js'></script>
<script type='text/javascript' src='jslib-extern/tinycolor/tinycolor.js'></script>
</head>
<body>
<div id='sidebar'>

<!--
<div id='imgdiv' style='margin-left:auto; margin-right:auto; width:60%; margin-top:10px' />
<img src="images/mtpicon3.png" alt="MapThePaths logo" width="100%" />
</div> 
-->

<h1>Welcome to MapThePaths!</h1>
<!-- image -->
<!--
<div class="important">
<strong>Please note that the site may be non-functional
today due to upgrades.</strong>
</div>
-->
<p>MapThePaths is a project to add all the rights of
way and permissive paths in England and Wales to 
<a href='https://www.openstreetmap.org'>OpenStreetMap</a> fully
tagged.</p>

<p>Thinner darker lines are OSM data, and thicker brighter lines
council ROW data coloured by designation. OSM paths with no designation are 
dashed grey.  You can click on council paths to get info, and it will tell you whether you can use the data in OSM.</p>
<p><strong>Default colour scheme:</strong>
Green=footpath, brown=bridleway, magenta=restricted byway and red=byway;
<a href='#' id='colourscheme'><strong>Click here to customise.</strong></a>
</p>
<p><strong>Modes:</strong>
<a href='/?mode=0'>Normal</a> |
<a href='/?mode=1'>Historic</a>
</p>
<?php
if(isset($mode) && $mode==1) {
?>
<p><strong>Historic maps mode</strong>: 
uses <a href='https://maps.nls.uk/os/6inch-england-and-wales/index.html'>NLS (OS six-inch-to-the-mile 1888-1913)</a> 
or 
<a href="https://maps.nls.uk/os/25k-gb-1937-61">NLS OS 1:25000 maps 1937-61</a>
historic layers. See <a href='gb1900license.txt'>here</a> for 
copyright notice. <a href='?mode=0'>Back to normal mode</a></p>
<?php
}
else
{
?>
<p>Login to OSM below to 
<strong>edit designation and prow_ref tags</strong>.</p>
<?php
}
?>
<div style='background-color:white; border: 1px solid black'><strong><a href='app.html'>Android app</a> now available!</strong></div>
<p>Thanks to Barry Cornelius for providing council path data as JSON via
<a href='http://rowmaps.com'>rowmaps</a>, 
and to Robert Whittaker for 
<a href='http://robert.mathmos.net/osm/prow/progress/open-data'>
clarifying which councils offer path data as OGL</a>.</p>
<?php
echo "<div id='loginform'>\n";
if($user) {
    echo "<p>Logged in as <span id='userSpan'>{$user}</span>.</p><p><a id='osmedit' class='login' href='#'>Edit</a><a class='login' href='osm/logout'>Logout</a></p><div id='needToZoom'>Zoom in to edit</div>";
} else {
    echo "<a class='login' href='osm/login'>OSM Login</a>";
}

echo "\n</div>\n";

if($error) {
    echo "<p><strong>ERROR:</strong> {$error}<br />\n";
}
?>
</div>
<div id='main'>
<div id='search' style='float:left'>
Nominatim Search: <input id='q' />
<input type='button' id='searchBtn' value='Go!' />
</div>
<div id='mode' style='float:right; display: none'>
<img id='modeSelect' src='images/cursor-default-click.png' alt='Select way' title='Select way'/>
<img id='modeSplit' src='images/insertNode.scaled24.png' alt='Insert node into way' title='Insert node into way'/>
</div>
<div id='map'></div>
<div id='msg'></div>
</div>
<div id='permalinkDiv'>
<a id='permalink' href='#'>Permalink</a>
</div>


<script src='js/bundle.js' type='text/javascript'></script>

</body>
</html>
